.content {
    width:70%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto
}

h1 {
    color: #000639;
}

h2 {
    color: #000639;
}

p {
    color: #000639;
}

.navbar {
    display: flex;
}

#userPortal {
    background-color: honeydew;
}

.navBarItem {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    padding: 0 10px;
}

.navBarIcon {
    color: #fff;
}

.navBarButton {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

.homeIcon {
    padding: 10px 10px;
}

#signupButton {
    background: #15AD98;
}

#menuIcon {
    padding: 10px 20px;
}
